---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/NavBar/Header.astro";

export interface Props {
  content: {
    title: string;
    description: string;
    pubDate?: string;
    updatedDate?: string;
    heroImage?: string;
  };
}

const {
  content: { title, description, pubDate, updatedDate, heroImage },
} = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={`${title}`} description={description} />
  </head>

  <body>
    <Header />
    <main>
      <article>
        <div id="banner">
          {
            heroImage && (
              <img
                style="width: 100%; height: 70vh; object-fit: cover;"
                src={heroImage}
                alt=""
              />
            )
          }
        </div>
        <h1 class="title">{title}</h1>
        {pubDate && <time>{pubDate}</time>}
        {
          updatedDate && (
            <div>
              Last updated on <time>{updatedDate}</time>
            </div>
          )
        }
        <hr />
        <div class="markdown">
          <div class="markdown-container">
            <slot />
          </div>
        </div>
      </article>
    </main>
    <!-- <Footer /> -->
  </body>
</html>
