---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
import BlogCard from "../components/BlogCard.astro";

// Use Astro.glob() to fetch all posts, and then sort them by date.
const posts = (await Astro.glob("./blog/*.{md,mdx}")).sort(
  (a, b) =>
    new Date(b.frontmatter.pubDate).valueOf() -
    new Date(a.frontmatter.pubDate).valueOf()
);
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <div class="blog-posts">
        {
          posts.map((post) => (
            <BlogCard
              title={post.frontmatter.title}
              date={new Date(post.frontmatter.pubDate).toLocaleDateString(
                "en-us",
                {
                  year: "numeric",
                  month: "short",
                  day: "numeric",
                }
              )}
              excerpt={post.frontmatter.description}
              tags="story"
              imageUrl={post.frontmatter.heroImage}
              url={post.url}
            />
          ))
        }
      </div>
    </main>
    <Footer />
  </body>
</html>
