---
import Modal from "../Modals/Modal.astro";

export interface Props {
  company: string;
  companyDomain: string;
  startYear: string;
  endYear?: string;
  role: string;
  techStack: string[];
  details: string;
  siteLink: string;
  isLeft: boolean;
}

const {
  company,
  companyDomain,
  startYear,
  endYear = "Present",
  role,
  techStack,
  details,
  siteLink,
  isLeft,
} = Astro.props;
---

<li
  id="resumeItem"
  class="resume-item"
  data-companydomain={companyDomain}
  data-startyear={startYear}
  data-endyear={endYear}
  data-tags={techStack}
  data-role={role}
  data-details={details}
  data-sitelink={siteLink}
>
  <Modal>
    <div class="resume-content">
      <div class="resume-title">{company}</div>
      <div class="resume-date">{startYear} - {endYear}</div>
      <div class="resume-techs">{techStack}</div>
      <div class="resume-desc">{details}</div>
      <br />
      {
        siteLink ? (
          <a href={`${siteLink}`} target="_blank">
            Learn More
          </a>
        ) : (
          ""
        )
      }
    </div>
  </Modal>
  <div class={`${isLeft ? "direction-r" : "direction-l"}`}>
    <div class="flag-wrapper">
      <p class="flag">{companyDomain}</p>
      <span class="time-wrapper"
        ><span class="time">{startYear} - {endYear}</span>
      </span>
    </div>
    <div class="desc">
      {role}
      <br />
      <span class="more">learn more</span>
    </div>
  </div>
</li>
<script>
  const resumeTitle = document.querySelector(".resume-title") as HTMLElement;
  const resumeDate = document.querySelector(".resume-date") as HTMLElement;
  const resumeTechs = document.querySelector(".resume-techs") as HTMLElement;
  const resumeDesc = document.querySelector(".resume-desc") as HTMLElement;
  const resumeElements = document.querySelectorAll(".more") as NodeList;
  const resumeLink = document.querySelector(
    ".resume-content a"
  ) as HTMLAnchorElement;
  const modal = document.querySelector(".modal") as HTMLElement;
  const resumeItems = document.querySelectorAll(
    ".resume-item"
  ) as NodeListOf<HTMLElement>;
  resumeElements.forEach((item, index) => {
    item.addEventListener("click", () => {
      modal.style.display = "block";
      resumeTitle.innerText = `${resumeItems[index].dataset.companydomain}`;
      resumeDate.innerText = `${resumeItems[index].dataset.startyear} - ${resumeItems[index].dataset.endyear}`;
      resumeTechs.innerText = `${resumeItems[index].dataset.tags}`;
      resumeDesc.innerText = `${resumeItems[index].dataset.details}`;
      resumeLink.href = `${resumeItems[index].dataset.sitelink}`;
    });
  });
</script>
